/*hero*/
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e6c699;;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/batman-large.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  
}
.hero-text p{
 font-size: 2em; 
}

#about {
  color: black;  
  padding-bottom: 20px;
  font-size: 20px;
}

.about-me {
  display: flex;
  align-items: center;
  position: relative;
  position: relative;
  margin-left: 10px;
  margin-top: -300px;
  color: rgb(255, 255, 255);
  padding: 0;
  width: fit-content;
}

.my-photo {
  width: 300px;
  border-radius: 30px;
}

.auto-input {
  color: rgb(251, 32, 83);
}
.chinese {
  border-left: 6px solid black;
  border-right: 6px solid black;
}
.card-body{
  margin-bottom: 10px;
}
/*footer*/
footer {
  
  color: #000000;
  width: 100vw;
}
ul {
  list-style: none;
}
.social {
  margin-top: 30px;
  color: rgb(251, 32, 83);
  font-size: 20px;
}
ul .bi {
  color: rgb(251, 32, 83);
}

/*media query*/
@media screen and (max-width: 900px) {
  .hero-image {
    height: 600px;
    background-position: center;
  }
  .navbar li {
    font-size: 1rem;
  }
  .hero-text h1 {
    font-size: 30px;
  }
  .hero-text p {
    font-size: 20px;
  }
  .my-photo {
    width: 150px;
  }
  .about-me {
    margin-top: -200px;
  }
}
